/* Habitat Mobile Tracker
 * Main style sheet
 * 
 */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#loading {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background: #00A3D3 url('../img/logo.png') no-repeat center center;
}

header {
    padding: 0;
    margin: 0;
    height: 50px;
    min-height: 50px;
    max-height: 50px;
    line-height: normal;
    border-bottom: 5px solid #33b5e5;
    box-shadow: 0px 3px 3px #888;
    z-index: 5;
    position: relative;
}
#app_name {
    line-height: normal;
    margin-top: 10px;
    position: relative;
    height: 40px;
}
header > div {
    position: relative;
    height: 50px;
}
#map,
#main {
    position: relative;
    z-index: 1;
}
#map {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.nav {
    list-style: none outside none;    
    margin: 0;
    padding: 0;
    height: 40px;
    display: block;
    min-width: 40px;
    width: auto;
    float: left;
    margin: 5px 0px;
}

#locate-me {
    float: right;
    font-size: 25px;
    height: 45px;
    line-height: 50px;
    margin-top: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.nav > li {
    margin: 0;
    padding: 0 5px;;
    float: left;
    height: 40px;
    border-right: 1px solid #33b5e5;
    cursor: pointer;
    color: #fff;
    line-height: 45px;
    font-size: 35px;
} 
.nav > li.last { border: 0; } 
.nav > li:active { background-color: #33b5e5; }
.nav > li:hover { border-bottom: 5px solid #fff; }

.header .arrow {
    font-weight: normal;
    float: right;
    color: #aaa;
}
.row .header .arrow:after { content: "▲"; }
.row.active .header .arrow:after { content: "▼"; }

#main .row { margin: 0; padding: 0; position: relative; }
#main .row  .header {
    position: relative;
    z-index: 4;
    cursor: pointer;
    background-color: #fff;
 }
#main .row:hover .header { color: #33b5e5; font-weight: bold; }
#main .row .data { display: none; width: 100%; }
#main .row.active .data { display: inline-block; }
#main .row .data .left,
#main .row .data .right {
    position: relative;
    z-index: 4;
}
#main .row .data img { 
    position: absolute;
    z-index: 3;
    bottom: 40%;
    right: 25%;
    opacity: 0.6;
}

@media only screen and (min-width: 321px) {
    .portrait { display: none; }
    .landscape { display: block; }
    #map {
        float: right;
        height: 245px;
        width: 280px;
    }
    #main {
        float: left;
        height: 245px;
        width: 199px;
        border-right: 1px solid #ddd;
        overflow: hidden;
    }
    #main .header {
        height: 20px;
        padding: 10px;
        border-bottom: 2px solid #33b5e5;
    }
    #main .data {
        background-color: #f4f4f4;
        height: 100%;
        padding-bottom: 10px;
    }
    #main .data .left {
        float: left;
        width: 160px;
        padding-left: 10px;
    }
    #main .data dl > dt { 
        color: #000;
        line-height: 11px;
        margin-top: 10px;
        font-weight: bold;
        font-size: 14px;
    }
    #main .data dl > dd { 
        padding: 0;
        margin: 0;
        text-transform:uppercase;
        line-height: 11px;
        font-size: 11px;
    }
    #main .data dl > dt.recievers { 
        font-size: 10px;
        font-weight: normal;
    }
    #main .data dl > dd.recievers { 
        font-size: 10px;
    }
    #main .row .data img {
        right: 5%;
        top: 50px;
    }
}
@media only screen and (max-width: 320px) {
    .portrait { display: block; }
    .landscape { display: none; }
    #map{
        height: 225px;
    }
    #main {
        height: 180px;
    }
    #main .header {
        height: 20px;
        padding: 10px;
        border-bottom: 2px solid #33b5e5;
    }
    #main .data {
        background-color: #f4f4f4;
        height: 140px;
    }
    #main .data .left {
        float: left;
        width: 65%;
        padding-left: 10px;
        padding-right: 20px;
    }
    #main .data .right {
        float: right;
        padding-right: 10px;
        width: 20%;
    }
    #main .data dl > dt { 
        color: #000;
        line-height: 11px;
        margin-top: 15px;
        font-weight: bold;
        font-size: 14px;
    }
    #main .data dl > dd { 
        padding: 0;
        margin: 0;
        text-transform:uppercase;
        line-height: 11px;
        font-size: 11px;
    }
    #main .data dl > dt.recievers { 
        font-size: 10px;
        font-weight: normal;
    }
    #main .data dl > dd.recievers { 
        font-size: 10px;
    }
}
